@import url('https://fonts.googleapis.com/css2?family=Orbit&family=Outfit:wght@100..900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

:root{
    --font-1: "Turret Road", sans-serif;
    --font-2: "Outfit", sans-serif;

    --squared-border: 10px;
    --squared-border-alt: 5px;
    --rounded-border: 150px;
    --rounded-border-alt: 50px;

    --quick-transition: 0.3s; 

    --lm-purple: #575279;
    --lm-lighter-purple: #797593;
    --lm-beige-lighter: #fbf9f6;
    --lm-beige-light: #FAF4ED;
    --lm-beige: #EDDFD4;
    --lm-beige-dark: #ADA197;
    --lm-red: #B4637A;
    --white: #FFFFFF;
    --black: #000000;

    --dm-darker-blue: #272434;
    --dm-dark-blue: #353153;
    --dm-light-blue: #E0DEF4;
    --dm-dark-purple: #4A456E;
    --dm-light-purple: #908CAA;
    --dm-cyan: #9CCFD8;
}

/* GENERAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    padding: 0.5em 0.5em 20vh 0.5em;

    font-family: var(--font-2);

    background: var(--lm-beige-light);
    color: var(--lm-purple);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--lm-purple);
}
svg{
    color: var(--lm-purple);
}

.desktop{
    display: none;
}
.inactive{
    display: none;
}

.light-text{
    color: var(--lm-lighter-purple);
}

.card-button{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em;

    border-radius: var(--rounded-border-alt);
    transition: all var(--quick-transition) linear;
}
.card-button:hover{
    transform: scale(1.1);
    cursor: pointer;

    background-color: var(--lm-beige);
}
.card-button:hover svg{
    color: var(--lm-red); 
}

body.dark-mode{
    background: var(--dm-darker-blue);
    color: var(--white);
}
.dark-mode a{
    color: var(--white);
}
.dark-mode svg{
    color: var(--white);
}

.dark-mode .card-button:hover{
    background-color: var(--dm-dark-blue);
}
.dark-mode .card-button:hover svg{
    color: var(--dm-cyan); 
}

.dark-mode .light-text{
    color: var(--dm-light-blue);
}

@media(min-width: 1024px){
    main{
        display: grid;
        grid-template-columns: 40% auto;
        gap: 1em;

        max-width: 2100px;
        margin: 0 auto;
    }
    body{
        padding: 1em;
    }

    .mobile.card{
        display: none;
    }
    .desktop.card{
        display: flex;
    }
}
@media(min-width: 1250px){
    main{
        grid-template-columns: 32% auto;
    }
}
@media(min-width: 1600px){
    main{
        grid-template-columns: 28% auto;
    }
}
/* GENERAL STYLES */


/* CARD */
.card .title h1{
    font-family: var(--font-1);
    font-weight: normal;
}
.card .title img{
    object-fit: cover;
    border-radius: var(--rounded-border);
}

.mobile.card .toggle-lang svg,
.desktop.card .toggle-lang svg{
    width: 20px;
}

.mobile.card{
    margin-bottom: 2em;
}
.mobile.card h1{
    font-size: 1.5em;
}
.mobile.card p{
    font-size: 0.9em;
}
.mobile.card nav{
    display: flex;
    justify-content: space-between;
    gap: 0.5em;

    position: fixed;
    bottom: 0px;
    left: 50vw;
    transform: translate(-50%, -50%);
    
    min-width: 300px;
    max-width: 500px;

    margin: 0 auto;
    padding: 0.3em;

    border-radius: var(--rounded-border-alt);
    border: 1px solid var(--lm-beige-dark);
    background: var(--white);
}
.mobile.card hr{
    height: 25px;
    margin: auto 0;

    color: var(--lm-beige-dark);
    opacity: 30%;
}
.mobile.card nav svg{
    width: 20px;
}
.mobile.card .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile.card .title img{
    width: 100px;
    height: 100px;

    object-position: 0px -1.35em;  
}

.desktop.card{
    flex-direction: column;
    justify-content: space-between;

    position: sticky;
    top: 1em;

    height: calc(100vh - 2em);

    padding: 1em;

    background: var(--white);
    border-radius: var(--rounded-border-alt);
}
.desktop.card svg{
    width: 25px;
}
.desktop.card .title{
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: left;
}
.desktop.card .title img{
    width: 300px;
    height: 300px;

    object-fit: cover;
    object-position: 0px -4em;                                                                                                                                                                   em;
    aspect-ratio: 1/1;

    margin: 1em auto 0 auto;
}
.desktop.card .toggle,
.desktop.card .navigation,
.desktop.card .navigation nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.desktop.card .navigation nav{
    padding: 0.3em;

    background: var(--lm-beige-light);
    border-radius: var(--rounded-border);
}

.dark-mode .mobile.card nav{
    background: var(--dm-dark-purple);
    border: 1px solid var(--dm-light-blue);
}
.dark-mode .mobile.card hr{
    color: var(--dm-light-blue);
}

.dark-mode .desktop.card{
    background: var(--dm-dark-blue);
}
.dark-mode .desktop.card .navigation nav{
    background: var(--dm-dark-purple);
}

@media(max-width: 380px){
    .mobile.card nav{
        justify-content: center;
        flex-wrap: wrap;
        transform: translate(-50%, -25%);
    }
}
@media(min-width: 768px){
    .mobile.card nav svg{
        width: 25px;
    }
}
/* CARD */


/* HERO CONTAINER(GENERAL) */
.hero{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.hero .container{
    padding: 1em;

    border: 2px solid transparent;
    background: var(--lm-beige-lighter);
    box-shadow: 0px 4px 4px #ada19736;
}

.container .section-title{
    display: flex;
    align-items: center;
    gap: 0.5em;
    
    padding: 1em;
    margin-bottom: 1em;

    border-radius: var(--squared-border-alt) 0 0 var(--squared-border-alt);
    font-family: var(--font-1);
    font-size: 0.6em;

    border-left: 4px solid var(--lm-red);
}
.container .section-title svg{
    width: 25px;
}

.container .content{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dark-mode .hero .container{
    background: var(--dm-dark-purple);
    box-shadow: 0px 4px 4px rgba(65, 62, 90, 0.557)
}
.dark-mode .container .section-title{
    border-left: 4px solid var(--dm-cyan);
}

/* HERO CONTAINER(GENERAL) */

/* ABOUT ME */
#about .education{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
#about .education li{
    padding: 0.5em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-radius: var(--rounded-border);
    background: var(--white);
}
#about .education li .education-label{
    display: flex;
    align-items: center;
    gap: 1em;
}

#about .badge-alt{
    text-align: center;
    font-size: 0.em;
}

#about .education img{
    width: 50px;
    padding: 0.3em;

    border: 1px solid var(--lm-red);
    border-radius: var(--rounded-border-alt);
}

#about .education-label h2{
    font-size: 0.8em;
    font-weight: normal;
}
#about .education-label p{
    font-size: 0.7em;
}

.dark-mode #about .education li{
    background: var(--dm-dark-blue);
}
.dark-mode #about .education img{
    border: 1px solid var(--dm-cyan);
}

@media(min-width: 1024px){
    #about .education .badge{
        min-width: 120px;
        font-size: 0.9em;
    }
    #about .education-label h2{
        font-size: 1em;
    }
    #about .education-label p{
        font-size: 0.9em;
    }
}
/* ABOUT ME */


/* SKILLS */
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
/* SKILLS */


/* HIGHLIGHT PROJECTS */
#projects-list{
    display: flex;
    flex-direction: column;
    gap: 3em;

    width: 100%;
}
#projects-list video{
    width: 100%;
    border-radius: var(--squared-border);
}

#projects-list .project-title{
    margin-block: 0.5em 1em;
    padding-left: 0.5em;
    
    border-left: 3px solid var(--lm-beige-dark);
}
#projects-list li h1{
    font-size: 1.3em;
}
#projects-list li p{
    font-size: 0.95em;
}
#projects-list nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 1em;
}

.dark-mode #projects-list .project-title{
    border-color: var(--dm-light-blue);
}

@media(min-width: 1600px){
    #projects-list .project-main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #projects-list video{
        width: 450px;
    }
    #projects-list li{
        display: flex;
        gap: 1em;

        height: fit-content;
    }
}

/* HIGHLIGHT PROJECTS */


/* BADGE */
.badge{
    display: flex;
    align-items: center;
    gap: 0.3em;

    height: fit-content;
    width: fit-content;
    
    padding: 0.5em;
    
    border-radius: var(--squared-border);

    background: var(--white);
    border: 1px solid var(--white);

    transition: all var(--quick-transition) linear;
    cursor: default;
}
.badge:hover{
    color: var(--lm-red);
    border-color: var(--lm-red);
}

.badge-alt{
    min-width: 100px;

    padding: 0.2em;

    border-radius: var(--rounded-border);

    background: var(--lm-lighter-purple);
    color: var(--lm-beige-light);
    border: 1px solid var(--lm-lighter-purple);
}

.dark-mode .badge{
    background: var(--dm-dark-blue);
    border-color: var(--dm-dark-blue);
}
.dark-mode .badge:hover{
    color: var(--dm-cyan);
    border-color: var(--dm-cyan);
}

.dark-mode .badge-alt{
    background: var(--dm-dark-purple);
    color: var(--white);

    border-color: var(--dm-dark-purple);
}
/* BADGE */


/* LINK BUTTON STYLED */
.button-styled{
    display: flex;
    align-items: center;
    gap: 0.3em;

    width: fit-content;
    padding: 0.3em 0.5em;

    border-radius: var(--rounded-border);
    
    border: 1px solid transparent;
    background: var(--lm-lighter-purple);
    color: var(--lm-beige-light);

    transition: all var(--quick-transition) linear;
}
.button-styled svg{
    width: 25px;
    stroke-width: 1px;
    color: var(--lm-beige-light);
}
.button-styled:hover{
    background: transparent;
    color: var(--lm-red);
    border-color: var(--lm-red);
}
.button-styled:hover svg{
    color: var(--lm-red);
}

.dark-mode .button-styled{
    background: var(--dm-light-blue);
    color: var(--dm-dark-purple);
}
.dark-mode .button-styled svg{
    color: var(--dm-dark-purple);
}
.dark-mode .button-styled:hover{
    background: transparent;
    color: var(--dm-cyan);
    border-color: var(--dm-cyan);
}
.dark-mode .button-styled:hover svg{
    color: var(--dm-cyan);
}
/* LINK BUTTON STYLED */


/* REGULAR BUTTON */
.regular-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    padding-block: 0.5em;

    font-size: 1.2em;
    font-family: var(--font-2);
    border-radius: var(--rounded-border);

    color: var(--lm-beige-light);
    border: 1px solid transparent;
    background: var(--lm-lighter-purple);

    transition: all var(--quick-transition) linear;
    cursor: pointer;
}
.regular-button:hover{
    gap: 1em;

    background: transparent;
    border-color: var(--lm-red);
    color: var(--lm-red);
}
.regular-button svg{
    width: 30px;
    color: var(--lm-beige-light);
    transition: all var(--quick-transition) linear;
}
.regular-button:hover svg{
    color: var(--lm-red);
}

.dark-mode .regular-button{
    color: var(--white);
    background: var(--dm-light-purple);
}
.dark-mode .regular-button:hover{
    background: transparent;
    border-color: var(--dm-cyan);
    color: var(--dm-cyan);
}
.dark-mode .regular-button svg{
    color: var(--white);
}
.dark-mode .regular-button:hover svg{
    color: var(--dm-cyan);
}
/* REGULAR BUTTON */


/* FORM */
input, textarea{
    font-family: var(--font-2);

    background: transparent;
    border: none;
    outline: none;

    color: var(--lm-purple);
}

#contact form{
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-block: 2em;
}
#contact label{
    display: flex;
    flex-direction: column;

    height: fit-content;

    padding: 1em;

    border: 1px solid var(--lm-beige-dark);
    color: var(--lm-beige-dark);

    cursor: pointer;
}
#contact label:hover,
#contact label:focus-within{
    border-color: var(--lm-red);
    color: var(--lm-red);
}
#contact label span, 
#contact input, 
#contact textarea{
    transition: all var(--quick-transition) linear;
}
#contact label:hover span,
#contact label:focus-within span{
    margin-bottom: 0.5em;
}

.dark-mode #contact label{
    border-color: var(--dm-light-blue);
    color: var(--dm-light-blue);

    cursor: pointer;
}
.dark-mode #contact label:hover,
.dark-mode #contact label:focus-within{
    border-color: var(--dm-cyan);
    color: var(--dm-cyan);
}
.dark-mode input,
.dark-mode textarea{
    color: var(--white);
}

@media(min-width: 1600px){
    #contact label,
    #contact .regular-button{
        width: 450px;
        margin: 0 auto;
    }
}
/* FORM */


/* EFFECTS */
.highlight-border{
    animation: highlight-border 2s linear;
}
.dark-mode .highlight-border{
    animation: dm-highlight-border 2s linear;
}
@keyframes highlight-border{
    0%{
        border-color: var(--lm-red);
    }
    50%{
        border-color: transparent;
    }
    75%{
        border-color: var(--lm-red);
    }
    100%{
        border-color: transparent;
    }
}
@keyframes dm-highlight-border{
    0%{
        border-color: var(--dm-cyan);
    }
    50%{
        border-color: transparent;
    }
    75%{
        border-color: var(--dm-cyan);
    }
    100%{
        border-color: transparent;
    }
}

.quick-fade{
    animation: fade-in-out 1s ease-in-out;
}
.slow-fade{
    animation: fade-in-out  1.5s ease-in-out;
}
@keyframes fade-in-out{
    from{
        translate: 0em 5em;
        opacity: 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}
/* EFFECTS */

