@import url('https://fonts.googleapis.com/css2?family=Orbit&family=Outfit:wght@100..900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

:root{
    --font-1: "Turret Road", sans-serif;
    --font-2: "Outfit", sans-serif;

    --border-10: 10px;
    --border-5: 5px;
    --border-50: 50px;
    --border-150: 150px;

    --quick-transition: 0.3s;

    --white: #FFFFFF;
    --black: #000000;

    --blue-900: #2E3440;
    --blue-800: #3B4252;
    --blue-700: #4C566A;
    --blue-500: #5E81AC;
    --blue-400: #81A1C1;
    --blue-300: #99a6c0;
    --blue-200: #D8DEE9;
    --blue-100: #ECEFF4;
}

/* -=-=-=-=-=-=-=-= GENERAL -=-=-=-=-=-=-=-= */
.desktop{
    display: none;
}
.inactive{
    display: none;
}

.pointer{
    cursor: pointer;
}

.light-text{
    color: var(--blue-700);
    font-weight: 300;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all var(--quick-transition) linear;
}

body{
    padding: 0.5em 0.5em 20vh 0.5em;

    font-family: var(--font-2);

    background: var(--blue-100);
    color: var(--blue-900);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--blue-500);
}
svg{
    color: var(--blue-900);
}

.card-button{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em;

    border-radius: var(--border-50);
    transition: all var(--quick-transition) linear;
}
.card-button:hover svg,
.card-button:hover span{
    translate: 0 -2px;
    
}
.card-button:hover svg{
    color: var(--blue-500);
}
.card-button:hover{
    background-color: var(--white);
}


.dark-mode{
    background: var(--black);
    color: var(--white);
}
.dark-mode a{
    color: var(--white);
}
.dark-mode svg{
    color: var(--white);
}

.dark-mode .card-button:hover{
    background-color: var(--blue-900);
}
.dark-mode .card-button:hover svg{
    color: var(--blue-400);
}

.dark-mode .light-text{
    color: var(--blue-200);
}


@media(min-width: 1024px){
    main{
        display: grid;
        grid-template-columns: 40% auto;
        gap: 1em;

        max-width: 2100px;
        margin: 0 auto;
    }
    body{
        padding: 1em;
    }

    .mobile.card{
        display: none;
    }
    .desktop.card{
        display: flex;
    }
}
@media(min-width: 1250px){
    main{
        grid-template-columns: 32% auto;
    }
}
@media(min-width: 1600px){
    main{
        grid-template-columns: 28% auto;
    }
}



/* -=-=-=-=-=-=-=-= CARD -=-=-=-=-=-=-=-= */
.card .title h1{
    font-family: var(--font-1);
    font-weight: normal;
}

.card .profile-picture{
    position: relative;

    min-width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.desktop.card .profile-picture{
    min-width: 300px;
    height: 300px;

    margin: 1em auto;
}

.profile-picture img{
    position: relative;

    width: 100%;
    height: 100%;

    z-index: 2;
}

.profile-picture img,
.profile-picture .object-border{
    border-radius: var(--border-150);
}
.profile-picture .object-border{
    position: absolute;
    inset: -2px;

    background: linear-gradient(180deg, var(--blue-500), transparent 70%);
    animation: spin 4s linear infinite;

    z-index: 1;
}

.mobile.card{
    margin-bottom: 2em;
}
.mobile.card h1{
    font-size: 1.5em;
}
.mobile.card p{
    font-size: 0.9em;
}
.mobile.card nav{
    position: fixed;
    bottom: 0px;
    left: 50vw;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
    gap: 0.5em;

    margin: 0 auto;
    padding: 0.3em;

    min-width: 300px;
    max-width: 500px;

    border: 1px solid var(--blue-300);
    background: var(--blue-100);
    border-radius: var(--border-50);
}
.mobile.card hr{
    height: 25px;
    margin: auto 0;

    color: var(--blue-700);
    opacity: 50%;
}
.mobile.card nav svg{
    width: 20px;
}
.mobile.card .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;

    margin-inline: 1em;
}

.desktop.card{
    position: sticky;
    top: 1em;

    flex-direction: column;
    justify-content: space-between;

    padding: 1em;

    height: calc(100vh - 2em);

    background: var(--white);
    border-radius: var(--border-10);
}
.desktop.card svg{
    width: 25px;
}
.desktop.card .title{
    display: flex;
    align-self: center;
    flex-direction: column;

    text-align: left;
}

.desktop.card .toggle,
.desktop.card .navigation,
.desktop.card .navigation nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.desktop.card .navigation nav{
    padding: 0.3em;

    background: var(--blue-100);
    border-radius: var(--border-50);
}


.dark-mode .profile-picture .object-border{
    background: linear-gradient(180deg, var(--blue-400), transparent 70%);
}
.dark-mode .mobile.card nav{
    background: var(--blue-700);
    border-color: transparent;
}
.dark-mode .mobile.card hr{
    color: var(--blue-200);
}

.dark-mode .desktop.card{
    background: var(--blue-900);
}
.dark-mode .desktop.card .navigation nav{
    background: var(--blue-800);
}


@media(max-width: 380px){
    .mobile.card nav{
        justify-content: center;
        flex-wrap: wrap;
        transform: translate(-50%, -25%);
    }
}
@media(min-width: 768px){
    .mobile.card nav svg{
        width: 25px;
    }
}



/* -=-=-=-=-=-=-=-= HERO CONTAINER (GENERAL) -=-=-=-=-=-=-=-= */
.hero{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.hero .container{
    padding: 1em;

    border: 2px solid transparent;
    background: var(--white);
    box-shadow: 0px 4px 10px var(--blue-200);
}

.container .section-title{
    display: flex;
    align-items: center;
    gap: 0.5em;
    
    padding: 1em;
    margin-bottom: 1em;

    border-radius: var(--border-5) 0 0 var(--border-5);
    font-family: var(--font-1);
    font-size: 0.6em;
    border-left: 4px solid var(--blue-500);
}
.container .section-title svg{
    width: 25px;
}

.container .content{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.dark-mode .hero .container{
    background: var(--blue-900);
    box-shadow: 0px 4px 4px var(--blue-900)
}
.dark-mode .container .section-title{
    border-left: 4px solid var(--blue-400);
}



/* -=-=-=-=-=-=-=-= ABOUT ME -=-=-=-=-=-=-=-= */
#about .education{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
#about .education li{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5em;

    border-radius: var(--border-50);
    background: var(--blue-100);
}
#about .education li .education-label{
    display: flex;
    align-items: center;
    gap: 1em;
}

#about .badge-alt{
    text-align: center;
    font-size: 0.em;
}

#about .education img{
    width: 50px;

    padding: 0.3em;

    border: 2px solid var(--blue-500);
    border-radius: var(--border-50);
}

#about .education-label h2{
    font-size: 0.8em;
    font-weight: normal;
}
#about .education-label p{
    font-size: 0.7em;
}


.dark-mode #about .education li{
    background: var(--blue-800);
}
.dark-mode #about .education img{
    border-color: var(--blue-400);
}


@media(min-width: 1024px){
    #about .education .badge{
        min-width: 120px;
        font-size: 0.9em;
    }
    #about .education-label h2{
        font-size: 1em;
    }
    #about .education-label p{
        font-size: 0.9em;
    }
}



/* -=-=-=-=-=-=-=-= SKILLS -=-=-=-=-=-=-=-= */
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}



/* -=-=-=-=-=-=-=-= HIGHLIGHT PROJECTS -=-=-=-=-=-=-=-= */
#projects-list{
    display: flex;
    flex-direction: column;
    gap: 3em;

    width: 100%;
}
#projects-list video{
    width: 100%;
    border-radius: var(--border-10);
}

#projects-list .project-title{
    margin-block: 0.5em 1em;
    padding-left: 0.5em;
    
    border-left: 3px solid var(--blue-500);
}
#projects-list li h1{
    font-size: 1.3em;
}
#projects-list li p{
    font-size: 0.95em;
}
#projects-list nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: 1em;
}


.dark-mode #projects-list .project-title{
    border-color: var(--blue-400);
}


@media(min-width: 1600px){
    #projects-list .project-main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #projects-list video{
        width: 400px;
    }
    #projects-list li{
        display: flex;
        gap: 1em;
        height: fit-content;
    }
}



/* -=-=-=-=-=-=-=-= BADGE -=-=-=-=-=-=-=-= */
.badge{
    display: flex;
    align-items: center;
    gap: 0.3em;

    padding: 0.5em;

    height: fit-content;
    width: fit-content;
    
    background: var(--blue-100);
    border: 1px solid transparent;

    border-radius: var(--border-5);
    transition: all var(--quick-transition) linear;
    cursor: default;
}
.badge:hover{
    color: var(--blue-500);
    border-color: var(--blue-500);
}

.badge-alt{
    min-width: 100px;

    padding: 0.2em;

    background: var(--blue-200);
    border-radius: var(--border-50);
}


.dark-mode .badge{
    background: var(--blue-800);
}
.dark-mode .badge:hover{
    color: var(--blue-400);
    border-color: var(--blue-400);
}

.dark-mode .badge-alt{
    background: var(--blue-700);
}



/* -=-=-=-=-=-=-=-= LINK BUTTON STYLED -=-=-=-=-=-=-=-= */
.button-styled{
    display: flex;
    align-items: center;
    gap: 0.3em;

    padding: 0.3em 0.5em;

    width: fit-content;

    border: 1px solid transparent;
    color: var(--blue-900);
    border-radius: var(--border-50);
    transition: all var(--quick-transition) linear;
}
.button-styled svg{
    width: 25px;
    stroke-width: 1px;
}
.button-styled:hover{
    border-color: var(--blue-500);
}
.button-styled:hover,
.button-styled:hover svg{
    color: var(--blue-500);
}


.dark-mode .button-styled:hover{
    border-color: var(--blue-400);
}

.dark-mode .button-styled:hover,
.dark-mode .button-styled:hover svg{
    color: var(--blue-400);
}


/* -=-=-=-=-=-=-=-= REGULAR BUTTON -=-=-=-=-=-=-=-= */
.regular-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    padding-block: 0.5em;

    font-size: 1.2em;
    font-family: var(--font-2);
    border-radius: var(--border-10);

    color: var(--white);
    background: var(--blue-500);
    border: 1px solid transparent;

    transition: all var(--quick-transition) linear;
}
.regular-button:hover{
    gap: 1em;

    background: transparent;
    border-color: var(--blue-500);
}
.regular-button:hover,
.regular-button:hover svg{
    color: var(--blue-500);
}
.regular-button svg{
    width: 30px;
    color: var(--white);
    transition: all var(--quick-transition) linear;
}


.dark-mode .regular-button{
    background: var(--blue-400);
}
.dark-mode .regular-button:hover{
    background: transparent;
    border-color: var(--blue-400);
}
.dark-mode .regular-button:hover,
.dark-mode .regular-button:hover svg{
    color: var(--blue-400);
}



/* -=-=-=-=-=-=-=-= FORM -=-=-=-=-=-=-=-= */
input, textarea{
    font-family: var(--font-2);

    background: transparent;
    border: none;
    outline: none;

    color: var(--blue-800);
}

#contact form{
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-block: 2em;
}
#contact label{
    display: flex;
    flex-direction: column;

    height: fit-content;

    padding: 1em;

    border: 1px solid var(--blue-500);
}
#contact label:hover,
#contact label:focus-within{
    border-color: var(--blue-500);
    color: var(--blue-500);
}
#contact label span, 
#contact input, 
#contact textarea{
    transition: all var(--quick-transition) linear;
}
#contact label:hover span,
#contact label:focus-within span{
    margin-bottom: 0.5em;
}


.dark-mode #contact label{
    border-color: var(--blue-400);
}
.dark-mode #contact label:hover,
.dark-mode #contact label:focus-within{
    border-color: var(--blue-400);
    color: var(--blue-400);
}
.dark-mode input,
.dark-mode textarea{
    color: var(--blue-100);
}


@media(min-width: 1600px){
    #contact label,
    #contact .regular-button{
        width: 450px;
        margin: 0 auto;
    }
}



/* -=-=-=-=-=-=-=-= EFFECTS -=-=-=-=-=-=-=-= */
.highlight-border{
    animation: highlight-border 2s linear;
}
.dark-mode .highlight-border{
    animation: dm-highlight-border 2s linear;
}
@keyframes highlight-border{
    0%{
        border-color: var(--blue-500);
    }
    50%{
        border-color: transparent;
    }
    75%{
        border-color: var(--blue-500);
    }
    100%{
        border-color: transparent;
    }
}
@keyframes dm-highlight-border{
    0%{
        border-color: var(--blue-400);
    }
    50%{
        border-color: transparent;
    }
    75%{
        border-color: var(--blue-400);
    }
    100%{
        border-color: transparent;
    }
}

.quick-fade{
    animation: fade-in-out 0.3s ease-in-out;
}
.slow-fade{
    animation: fade-in-out  0.8s ease-in-out;
}
@keyframes fade-in-out{
    from{
        translate: 0em 10px;
        opacity: 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}